.q-page
  font-family: Exo2

.q-input
  font-size: large !important

a.login-ref
  text-decoration: none
  color: $blue-6

a.login-ref:hover
  text-decoration: underline solid $blue-6 1.5px

.small-form
  width: 40vw
  max-width: 600px
  min-width: 500px

.full-form
  width: unset
  max-width: 600px
  min-width: 300px

.small-window
  background: #fafafaf5


.full-window
  background: #fafafa
  z-index: 6000
  border-radius: 0 !important
  width: 100%
  height: 100%
  min-height: 100vh
  overflow-y: scroll
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.center-title
  padding-left: 0px
  display: flex
  white-space: pre-wrap
