$primary   : #006bc5;
$secondary : #2ea3f2;
$accent    : #f246ee;

$dark      : #1d1d1d;

$positive  : #21ba45;
$negative  : #f24846;
$info      : #5ddcf5;
$warning   : #f2f016;

$primary_transparent: #006bc526;


@font-face {
  font-family: Lato;
  src: url(src/css/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoBold;
  src: url(src/css/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: LatoBoldCyrillic;
  src: url(src/css/fonts/Lato-Bold-Cyrillic.ttf);
}

@font-face {
  font-family: Exo2;
  src: url(src/css/fonts/Exo2-Regular.ttf);
}

// $typography-font-family : 'Exo2', sans-serif !default;
