$primary   : #006bc5;
$secondary : #2ea3f2;
$accent    : #f246ee;

$dark      : #1d1d1d;

$positive  : #21ba45;
$negative  : #f24846;
$info      : #5ddcf5;
$warning   : #f2f016;

$primary_transparent: #006bc526;
